body {
  font-family: Arial, sans-serif;
  background: #f5f7fa;
  margin: 0;
  padding: 2rem;
}

h1 {
  font-size: 2rem;
  margin-bottom: 3rem;
  text-align: center;
}

h2 {
    text-align: center;
}

table {
  border-collapse: inherit ;
  width: 100%;
  background: white;
  box-shadow: 0 0 5px rgba(0,0,0,0.1);
}

th, td {
  padding: 0.75rem 1rem;
  text-align: center;
}

th {
  background:  #a28089;
  color: white;
}

tr:nth-child(even) {
  background: #f0f4f8;
}

button {
  background: #dc3545;
  border: none;
  color: white;
  padding: 0.4rem 0.75rem;
  cursor: pointer;
  border-radius: 4px;
  font-size: 0.9rem;
}

button:hover {
  background: #c82333;
}
